.bg-black {
    background-color: #c8a2c8;
}

#navbar-main a {
    font-size: 15px;
    font-weight: normal;
    color: black;
    transition: .3s;
}

#navbar-main a:hover {
    color: #00A1DF;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 230px;
    background-color: black;
    /*position: relative;*/
}

.fixed {
    position: fixed;
    /*width: 100%;*/
    top: 0;
    z-index: 20;
}