html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}

footer {
    background: #c8a2c8;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}