/* SIDEBAR */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    padding-top: 30px;
    transition: all 0.3s;
}

#sidebar ::-webkit-scrollbar {
    width: 10px;
}

#sidebar ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#sidebar ::-webkit-scrollbar-thumb {
    background: #888;
}

#sidebar ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#homeSubmenu {
    overflow-y: scroll !important;
    max-height: 300px !important;
}

#homeYearSubmenu {
    overflow-y: scroll !important;
    max-height: 300px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p{
    list-style-type: none;
    padding: 10px;
}

#sidebar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #7386D5;
    background-color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* Checkbox */

h5 {
    margin-left: 13px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.checkbox label input[type="radio"] {
    display: none;
}

.checkbox label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="radio"]:disabled + .cr {
    opacity: .5;
}